.main-card{
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
    background-color: rgb(53, 53, 53);
    justify-content: space-evenly;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}
@media screen and (max-width: 800px) {
    .main-card {
      width: 80%;
    }
    .main-card{
    padding: 1rem;
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
    background-color: rgb(53, 53, 53);
    justify-content: space-evenly;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    margin-top: 1rem;
}
 }