.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* font: inherit; */
    font-size: large;
    border: 1px solid #ffffff;
    background: #0c0c0c;
    font-weight: 400;
    color: white;
    /* padding: 0.5rem 1.5rem; */
    cursor: pointer;
    border-radius: 50%;
    align-self: flex-start;
    /* line-height:1.3; */
    /* line-height: 1.2; */
    /* width: 25%; */
  }
  .button p{
      padding: 0px;
      margin: 0px;
      vertical-align: middle;
  }
  .button:hover,
  .button:active {
    background: #383838;
    border-color: #bebebe;
  }
  
  .button:focus {
    outline: none;
  }

  @media screen and (max-width:768px) {
  .button{
    /* width: 30%; */
    padding: 0.5rem 1rem;
  }
}